<h1>Enter New Ingredient Details</h1>

<%= form_for @ingredient do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :autofocus => true %>
  <br>

  <%= f.label :kind %>
  <%= f.text_field :kind %>
  <br>

  <%= f.submit 'Add Ingredient' %>

<% end %>