<h1>Add a Recipe</h1>

<%= form_for @recipe do |f| %>
<%= f.label :title %>
<%= f.text_field :title, :autofocus => true %>
<br>

<%= f.label :description %>
<%= f.text_area :description %>
<br>

<%= f.label :instructions %>
<%= f.text_area :instructions %>
<br>

<%= f.label :img, 'Image URL' %>
<%= f.text_field :img %>
<br>

<p>Please choose a category:
  <br>
  <% @categories.each do |c| %>
  <%= f.radio_button(:category_id, "#{c.id}") %>
  <%= f.label(":category_id_#{c.id}", "#{c.title}") %>
  <br>
  <% end %>
</p>

<%= f.submit 'Add Recipe' %>

<% end %>