<h1><%= @recipe.title %></h1>
Category: <%= link_to("#{@recipe.category.title}", category_path(@recipe.category_id)) %>
<br> 
<%= image_tag(@recipe.img, alt:'No image', class: 'img') %>
<br>
<br>
<p>
  Description: <%= @recipe.description %>
  <br>
 Instructions: <%= @recipe.instructions %>
<br>

</p>
