<h1><%= @recipe.title %></h1>
Category: <%= link_to("#{@recipe.category.title}", category_path(@recipe.category_id)) %>
<br> 
<%= image_tag(@recipe.img, alt:'No image', class: 'img') %>
<br>
<br>
<p>
  Description: <%= @recipe.description %>
  <br>
 Instructions: <%= @recipe.instructions %>
<br>

Ingredients:
<% @quantities.each do |quantity| %>
  <%= link_to(recipe_id: @recipe.id, ingredient_id: quantity.ingredient_id, return_page: 'recipe') %>
  <%= link_to("#{Ingredient.find(quantity.ingredient_id).name}", ingredient_path(Ingredient.find(quantity.ingredient_id)) ) %>

  <%= form_for quantity do |f| %>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
    <%= f.submit "save", :class => 'submit_button' %>
  <% end %>

</p>
